= stylesheet_link_tag 'rails_admin/ra.simplemde'
= javascript_include_tag 'rails_admin/ra.simplemde'

:ruby
  js_data = {
  }
  _html_attributes = field.html_attributes.reverse_merge(data: { simplemde: 'true', options: js_data.to_json, value: field.name })

= form.text_area field.name, _html_attributes
